


:root{
	--fonte-baixada: "amatic";
}



header a{
	text-decoration: none;
	color: black;
	display: inline-block;
	font-family: var(--fonte-baixada);

}

header li{
	list-style: none;
	display: inline-block;
	padding: 10px;
	font-family: var(--fonte-baixada);
}

h1{
	text-align: center;
	font-family: var(--fonte-baixada);
}

h2{
	text-align: center;
	font-family: var(--fonte-baixada);
}

h3{
	text-align: left;
	padding-top: 20px;
	padding-left: 20px;
	font-family: var(--fonte-baixada);

}

p{
	text-align: justify;
	line-height: 2em;
	font-family: var(--fonte-baixada);
	padding-left: 10px;
	border-radius: 20px;
}

a{
	color: black;
}




.imagem p{
	background-color: rgba(0, 0, 0, 0.1000);
	margin-right:900px;
	border-radius: 20px;
	padding-left: 10px;
	border-radius: 20px;
	color: white;
}

.imagem h3{
	background-color: rgba(0, 0, 0, 0.1000);
	margin-right: 999px;
	border-radius: 20px;
	padding-left: 10px;
	padding-bottom: 10px;
	border-radius: 20px;
	color: white;
}

#img01{
	background-image: url("../imagens/imagem1.jpg");
}


footer{
	text-align: center;
	font-family: var(--fonte-baixada);
}